<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
 
<div class="container">
  <h1 class="center" style="margin-top:20px; margin-bottom:20px;">CHAT</h1>

  <div class="left" style="margin-right:0px; background-color:rgba(225, 225, 225, 0.6); height: 280px;">
    

  <div>
    <strong>User 1:</strong>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni </p>
</div>

  <div>
    User 2:
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni </p>
</div>

  <div>
    <strong>User 3:</strong>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni tetur adipisicing elit. Magni </p>
</div>
  </div>

  <div class="center">

    <div class="row">


    </div>
  </div>
</div>
</div>
</body>
</html>
