<div class="container">
  <h1 class="center" style="margin-top:20px; margin-bottom:20px;">TOP PROBLEMS</h1>

  <div class="left" style="margin-right:0px; background-color:rgba(225, 225, 225, 0.6); height: 120px;">
    <strong>User 1:</strong>

  </div>
  <div class="left" style="margin-right:0px; background-color:rgba(225, 225, 225, 0.6); height: 120px;margin-top:20px">
    <strong>User 2:</strong>
  </div>
  <div class="left" style="margin-right:0px; background-color:rgba(225, 225, 225, 0.6); height: 120px;margin-top:20px">
    <strong>User 3:</strong>
  </div>



  <div class="center">

    <div class="row">


    </div>
  </div>
</div>
</div>